
 nav{
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;    
}
nav a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 2px
}
.callout{
    background-color: white;
    color: black;
    font-weight: 450;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}
.buttons{
    padding: 10px;
    display: flex;
    gap: 20px;
}
.button{
    padding: 5px 10px;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.2s ease;
    display: flex;
    gap: 5px;
    align-items: center;
}
.button:hover{
    background-color: white;
    color: black;
}
.text {
  display: flex;
  width: 100dvw;
  height: 100%;
  align-items: center;
}
.words{
    width: 45%;
    height: 50vh;
}
.socials{
    display: flex;
    gap: 10px;
    align-items: center;
}
.socials a{
    color: white;
    text-decoration: none;
}

.loc{
    display: flex;
    gap: 5px;
    align-items: center;
}

.stack{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.info{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 10px;
}
.links a{
    color: white;
    text-decoration: none;
}
a:hover{
    transition: all 0.2s ease;
    transform: translateY(-2px);
}